.admin_container {
    padding: 35px;
}

.form_block {
    display: flex;
}

.form_block div {
    margin-right: 20px;
}

.cards .card {
    margin: 3px 0 3px 0;
    border-radius: 0;
}

.card-header {
    cursor: pointer;
}

.card-header.disabled {
    cursor: not-allowed;
    background-color: #ebebeb;
}

.useradmin_invite {
    min-height: 180px;
}

.usercard_icons {
    padding-bottom: 15px;
    border-bottom: thin solid lightgrey;
    margin-bottom: 15px;
}

.admin_actions {
    color: gray;
}

.admin_actions i {
    margin-left: 5px;
}

.badge {
    min-width: 70px;
    margin-right: 20px;
}

.collapsed:hover {
    cursor: pointer;
}

.user_details {
    width: 35%;
}

.user_permissionPanel {
    width: 60%;
}

.text-owner {
    color: #6E00B8;
}

.arrow_up {
    transform: rotate(180deg);
    transition: 0.25s;
}

.arrow_down {
    transition: 0.25s;
    transition-delay: 0.5s;
}

/* Newsfeed */

.ql-toolbar {
    background-color: whitesmoke;
}

.ql-editor {
    background-color: white;
    min-height: 200px;
}