body {
    background-color: rgb(235, 235, 235);
}

p, label {
    margin: 0;
}

#banner_bg {
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(50, 50, 60, 1)
}

.banner_container {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1600px;
    margin: auto;
}

.main_color_dark {
    background-color: #2b435e;
    color: white;
}

.d-flex {
    align-items: center;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40 {
    width: 40% !important;
}

.w-90 {
    width: 90% !important;
}

.btn {
    cursor: pointer;
}

.btn-outline-secondary {
    color: black;
    background-color: whitesmoke;
}

.btn-group-blue {
    border: thin solid rgb(14, 117, 177);
    border-radius: 5px;
}

.btn-blue {
    transition: background-color 0.5s;
    transition-timing-function: ease;
}

.btn-blue.active {
    color: white;
    background-color: rgb(14, 117, 177) !important;
    box-shadow: 0 0 7px rgb(14, 117, 177) !important;
}

.btn-blue.focus, .btn-blue:hover {
    color: white;
    background-color: rgb(17, 150, 228);
    box-shadow: 0 0 7px rgb(25, 171, 255);
}

.disabled {
    cursor: not-allowed;
}

.banner_text p {
    font-size: 13px;
}

.row {
    margin: auto;
}

.no-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.core_container {
    max-width: 1600px;
    min-height: 550px;
    margin: 0 auto 0 auto;
    padding: 0;
    box-shadow: 0 15px 30px rgba(50, 50, 60, 0.75)
}

.container-fluid {
    padding: 0;
}

.banner_side {
    position: relative;
    height: 270px;
    background-color: lightgray;
}

#banner_center {
    position: relative;
    background-image: url("/img/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 270px;
}


.banner_text{
    color: white;
    width: 100%;
    text-align: left;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0));
    padding-left: 30px;
    padding-bottom: 15px;
}

.banner_text p {
    margin: 0;
}

.banner_text h2 {
    margin-top: 4%;
    margin-bottom: 0;
}

.reports_bg {
    background-image: url("/img/BB.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.client_bg {
    background-image: url("/img/crawler.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.fc_bg {
    background-image: url("/img/fc.png");
    background-repeat: no-repeat;
    background-position: center;
}

.core_container div.col-3 {
    padding: 0;
}

.text_box {
    display: block;
    background: rgba(240, 240, 240, 0.9);
    padding: 70px;
}

.centered {
    text-align: center;
}

.newsfeed_post {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: thin solid lightgray;
}

.post_date {
    margin-left: 5px;
    color: darkgray;
    font-size: 13px;
}

.intrequest_panel {
    border: thin solid lightgrey;
    padding: 2%;
    margin: 10px 0 30px 0;
}

.intrequest_panel.outlined {
    border: thin solid #0188fe;
    box-shadow: 0 0 3px #0188fe;
    padding: 2%;
    margin: 10px 0 30px 0;
}

.progress {
    margin: 25px 0 25px 0;
    background-color: #cccccc;
}

.progress-bar {
    transition: width 0.6s;
    transition-timing-function: ease;
}

.sidebar {
    padding: 0;
    min-height: 550px;
}

.sidebar_button, .sidebar_title {
    color: white;
    padding: 15px 25px 15px 25px;
    transition: background-color 0.5s;
    transition-timing-function: ease;
}

.sidebar_button:hover{
    background-color: rgb(14, 117, 177);
    box-shadow: 0 0 7px rgb(14, 117, 177);
    cursor: pointer;
}

.highlighted {
    background-color: rgb(17, 150, 228);
    box-shadow: 0 0 7px rgb(25, 171, 255);
}

footer {
    padding: 20px 0 20px 0;
    margin-top: 20px;
    background-color: #243a51;
}

footer p {
    margin: 10px auto 0 auto;
    color: lightgray;
}

.popup-alert {
    position: fixed;
    max-width: 35%;
    min-width: 15%;
    right: 40px;
    float: right;
    z-index: 5;
    box-shadow: 5px 5px 10px darkgrey;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.popup-alert.show {
    opacity: 1;
    visibility: visible;
}

.content-status {
    margin: auto;
    text-align: center;
    color: lightgrey;
    text-shadow: 0 1px 1px darkgrey;
}

.content-status-navbar {
    margin: auto;
    text-align: center;
    color: lightgrey;
    text-shadow: 0 1px 1px darkgrey;
}

.fa-spinner {
    animation: rotateSpinner infinite 1s linear;
}

@keyframes rotateSpinner {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
